@mixin center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*
$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

ORDER : Base + typography >  general layout + grid > page layout > component

1em = 16px
*/

// RESPONSIVE

@mixin respond($breakpoint) {
  @if $breakpoint == 'phone' {
    @media only screen and (max-width: 40.625em) {
      //600px
      @content;
    }
  }

  @if $breakpoint == 'tab-small' {
    @media only screen and (max-width: 50em) {
      //800
      @content;
    }
  }

  @if $breakpoint == 'tab-port' {
    @media only screen and (max-width: 73.12em) {
      //1100
      @content;
    }
  }

  @if $breakpoint == 'tab-land' {
    @media only screen and (max-width: 81.25em) {
      //1200px
      @content;
    }
  }

  @if $breakpoint == 'big-desktop' {
    @media only screen and (min-width: 112.5em) {
      //600px
      @content;
    }
  }
}

@mixin section_flex_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
