//COLORS
$color--primary--dark: #778677;
$color--primary: #405440;
$color--primary--light: #8aa479;

$color--white: #fff;

$color--secondary: #e9b534;
$color--secondary--light: #eabf53;



// splicer line

$color--splicer : #f4f2e6;


// sales sign 

$color--sales : #e16559;