.u_section_padding_top {
  padding-top: 13.5rem !important;
}

.u_margin_bottom-medium {
  margin-bottom: 2.56rem !important;
}

.u_margin_bottom-big {
  margin-bottom: 4.8rem !important;
}

.u_margin_top-medium {
  margin-top: 2.56rem !important;
}

.u_half_star {
  clip-path: polygon(0 0, 55% 0, 55% 100%, 0 100%);
}
.u_padding-btm-none {
  padding-bottom:  0 !important;
}
