.u_section_padding_top {
  padding-top: 13.5rem !important;
}

.u_margin_bottom-medium {
  margin-bottom: 2.56rem !important;
}

.u_margin_bottom-big {
  margin-bottom: 4.8rem !important;
}


.u_margin_top-medium {
  margin-top: 2.56rem !important;
}