//COLORS

$color--primary: rgb(255, 48, 91);

$color--secondary: rgb(51, 51, 51);

$color--paragraph--light: rgb(145, 145, 145);
$color--paragraph: rgb(85, 85, 85);

$color--white: #fff;

// bg

$color--bg-1: rgb(51, 51, 51);
$color--bg-2: rgb(241, 241, 241);

// color review

$color--review--primary: rgb(33, 37, 41);

$color--review---stars: RGB(255, 215, 0);
